In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\user\Downloads\Dept_Pred_HR_Attrition.csv")

In [11]:
df.head()

,Attrition Date,Random Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,4/30/2022 12:00:00 AM,26.0,41,Yes,Travel_Rarely,1102,Sales,1,Associates Degree,Life Sciences,...,1,80,0,8,0,1,6,4,0,5
1,NaN,121.0,49,No,Travel_Frequently,279,Research & Development,8,High School,Life Sciences,...,4,80,1,10,3,3,10,7,1,7
2,5/3/2022 12:00:00 AM,23.0,37,Yes,Travel_Rarely,1373,Research & Development,2,Associates Degree,Other,...,2,80,0,7,3,3,0,0,0,0
3,NaN,56.0,33,No,Travel_Frequently,1392,Research & Development,3,Master's Degree,Life Sciences,...,3,80,0,8,3,3,8,7,3,0
4,NaN,27.0,27,No,Travel_Rarely,591,Research & Development,2,High School,Medical,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.columns

Index(['Attrition Date', 'Random Number', 'Age', 'Attrition', 'BusinessTravel',
       'DailyRate', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
(df['Attrition'].value_counts(normalize=True)*100).round(2)

Attrition
No     83.88
Yes    16.12
Name: proportion, dtype: float64

In [9]:
df.isnull().sum()

Attrition Date              1233
Random Number                  0
Age                            0
Attrition                      0
BusinessTravel                 0
DailyRate                      0
Department                     0
DistanceFromHome               0
Education                      0
EducationField                 0
EmployeeCount                  0
EmployeeNumber                 0
EnvironmentSatisfaction        0
Gender                         0
HourlyRate                     0
JobInvolvement                 0
JobLevel                       0
JobRole                        0
JobSatisfaction                0
MaritalStatus                  0
MonthlyIncome                  0
MonthlyRate                    0
NumCompaniesWorked             0
Over18                         0
OverTime                       0
PercentSalaryHike              0
PerformanceRating              0
RelationshipSatisfaction       0
StandardHours                  0
StockOptionLevel               0
TotalWorkingYears              0
TrainingTimesLastYear          0
WorkLifeBalance                0
YearsAtCompany                 0
YearsInCurrentRole             0
YearsSinceLastPromotion        0
YearsWithCurrManager           0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition Date            237 non-null    object
 1   Random Number             1470 non-null   float64
 2   Age                       1470 non-null   int64
 3   Attrition                 1470 non-null   object
 4   BusinessTravel            1470 non-null   object
 5   DailyRate                 1470 non-null   int64
 6   Department                1470 non-null   object
 7   DistanceFromHome          1470 non-null   int64
 8   Education                 1470 non-null   object
 9   EducationField            1470 non-null   object
 10  EmployeeCount             1470 non-null   int64
 11  EmployeeNumber            1470 non-null   int64
 12  EnvironmentSatisfaction   1470 non-null   int64
 13  Gender                    1470 non-null   object
 14  HourlyRate                1470 non-null   int64
 15  JobInvolvement            1470 non-null   int64
 16  JobLevel                  1470 non-null   int64
 17  JobRole                   1470 non-null   object
 18  JobSatisfaction           1470 non-null   int64
 19  MaritalStatus             1470 non-null   object
 20  MonthlyIncome             1470 non-null   int64
 21  MonthlyRate               1470 non-null   int64
 22  NumCompaniesWorked        1470 non-null   int64
 23  Over18                    1470 non-null   object
 24  OverTime                  1470 non-null   object
 25  PercentSalaryHike         1470 non-null   int64
 26  PerformanceRating         1470 non-null   int64
 27  RelationshipSatisfaction  1470 non-null   int64
 28  StandardHours             1470 non-null   int64
 29  StockOptionLevel          1470 non-null   int64
 30  TotalWorkingYears         1470 non-null   int64
 31  TrainingTimesLastYear     1470 non-null   int64
 32  WorkLifeBalance           1470 non-null   int64
 33  YearsAtCompany            1470 non-null   int64
 34  YearsInCurrentRole        1470 non-null   int64
 35  YearsSinceLastPromotion   1470 non-null   int64
 36  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(1), int64(25), object(11)
memory usage: 425.1+ KB

In [13]:
df=df.drop(['Attrition Date'],axis=1)

In [14]:
df.head(2)

,Random Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,26.0,41,Yes,Travel_Rarely,1102,Sales,1,Associates Degree,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,121.0,49,No,Travel_Frequently,279,Research & Development,8,High School,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7

In [15]:
df.duplicated().sum()

0

In [16]:
df.columns

Index(['Random Number', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [30]:
pd.crosstab(df.YearsSinceLastPromotion,df.Attrition)#.sort_values(by='DistanceFromHome',ascending=False)

Attrition                 No  Yes
YearsSinceLastPromotion
0                        471  110
1                        308   49
2                        132   27
3                         43    9
4                         56    5
5                         43    2
6                         26    6
7                         60   16
8                         18    0
9                         13    4
10                         5    1
11                        22    2
12                        10    0
13                         8    2
14                         8    1
15                        10    3

In [28]:
pd.crosstab(df.YearsWithCurrManager,df.Attrition)

Attrition              No  Yes
YearsWithCurrManager
0                     178   85
1                      65   11
2                     294   50
3                     123   19
4                      87   11
5                      27    4
6                      25    4
7                     185   31
8                      97   10
9                      58    6
10                     24    3
11                     21    1
12                     18    0
13                     14    0
14                      3    2
15                      5    0
16                      2    0
17                      7    0

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le=LabelEncoder()

In [50]:
df['BusinessTravel']=le.fit_transform(df['BusinessTravel'])
df['Department']=le.fit_transform(df['Department'])
df['Attrition']=le.fit_transform(df['Attrition'])
df['Education']=le.fit_transform(df['Education'])
df['EducationField']=le.fit_transform(df['EducationField'])
df['Gender']=le.fit_transform(df['Gender'])
df['JobRole']=le.fit_transform(df['JobRole'])
df['MaritalStatus']=le.fit_transform(df['MaritalStatus'])
df['Over18']=le.fit_transform(df['Over18'])
df['OverTime']=le.fit_transform(df['OverTime'])
df['OverTime']=le.fit_transform(df['OverTime'])

In [51]:
df.head()

,Random Number,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,26.0,41,1,2,1102,2,1,0,1,1,...,1,80,0,8,0,1,6,4,0,5
1,121.0,49,0,1,279,1,8,3,1,1,...,4,80,1,10,3,3,10,7,1,7
2,23.0,37,1,2,1373,1,2,0,4,1,...,2,80,0,7,3,3,0,0,0,0
3,56.0,33,0,1,1392,1,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,27.0,27,0,2,591,1,2,3,3,1,...,4,80,1,6,3,3,2,2,2,2

In [52]:
X=df.drop('Attrition',axis=1)
y=df['Attrition']

In [53]:
X

,Random Number,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,26.0,41,2,1102,2,1,0,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,121.0,49,1,279,1,8,3,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,23.0,37,2,1373,1,2,0,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,56.0,33,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27.0,27,2,591,1,2,3,3,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,266.0,34,0,967,1,16,4,5,1,1905,...,2,80,1,5,2,3,5,2,3,0
1466,329.0,29,1,459,1,24,0,1,1,1868,...,2,80,0,1,3,2,1,0,1,0
1467,77.0,35,1,880,2,12,4,4,1,1667,...,1,80,0,13,2,4,11,9,6,7
1468,104.0,23,2,427,2,7,1,1,1,1702,...,2,80,1,3,2,3,3,2,0,2
1469,104.0,22,2,391,1,7,3,1,1,1878,...,1,80,0,1,2,3,1,0,0,0

In [54]:
y

0       1
1       0
2       1
3       0
4       0
       ..
1465    1
1466    1
1467    1
1468    1
1469    1
Name: Attrition, Length: 1470, dtype: int32

In [55]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [56]:
X_train.shape

(1176, 35)

In [57]:
X_test.shape

(294, 35)

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report

In [59]:
RF = RandomForestClassifier() 
model = RF.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [63]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [64]:
acc = accuracy_score(y_test, y_pred)
print('Accuracy: %.3f' % acc)

Accuracy: 0.881

In [65]:
mae = mean_absolute_error(y_test, y_pred)
print('MAE: %.3f' % mae)

MAE: 0.119

In [66]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94       253
           1       1.00      0.15      0.26        41

    accuracy                           0.88       294
   macro avg       0.94      0.57      0.60       294
weighted avg       0.90      0.88      0.84       294